[client]
port   = 3300
socket = /opt/zbox/tmp/mysql/mysql.sock

[mysqld_safe]
socket = /opt/zbox/tmp/mysql/mysql.sock
nice   = 0

[mysqld]
user     = nobody
pid-file = /opt/zbox/tmp/mysql/mysqld.pid
socket   = /opt/zbox/tmp/mysql/mysql.sock
port     = 3300
basedir  = /opt/zbox/run/mysql
datadir  = /opt/zbox/data/mysql
tmpdir   = /opt/zbox/tmp/mysql
skip-external-locking

bind-address            = 0.0.0.0
max_allowed_packet      = 20M
table_cache             = 64

max_connections = 600
innodb_buffer_pool_size = 512M
innodb_file_per_table = 1
innodb_log_files_in_group = 2
innodb_log_file_size = 256M
innodb_log_buffer_size = 16M
key_buffer_size         = 16M
sort_buffer_size        = 2M
join_buffer_size = 2M
query_cache_size = 40M
query_cache_limit = 2M
bulk_insert_buffer_size = 64M
read_buffer_size        = 2M
read_rnd_buffer_size    = 16M
thread_cache_size = 300

net_buffer_length       = 8K
myisam_sort_buffer_size = 8M
log_error  = /opt/zbox/logs/mysql_error.log

explicit_defaults_for_timestamp
default-storage-engine=InnoDB
default-tmp-storage-engine=InnoDB

server-id  = 1

[mysqldump]
quick
quote-names
max_allowed_packet = 16M

[mysql]
no-auto-rehash

[isamchk]
key_buffer_size  = 20M
sort_buffer_size = 20M
read_buffer      = 2M
write_buffer     = 2M

[myisamchk]
key_buffer_size  = 20M
sort_buffer_size = 20M
read_buffer      = 2M
write_buffer     = 2M

[mysqlhotcopy]
interactive-timeout
